body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */
{
    margin: 0;
    padding: 0;
}

.title {
    height: 200px;
    border: 1px solid silver;
    border-radius: 15px;
}
.body-pecnter {
    height: 200px;
    background-color: white;
    border: 1px solid #b7b8b7;
    border-radius: 15px;
    margin-top: -19px;
}
.content-img {
    width:80px;
    height:80px;
    border:2px solid rosybrown;
    border-radius: 100%;
    margin-left: 60px;
    margin-top: 10px;
    overflow: hidden;
}
.content-img img{
    max-width:100%;
}
label {
    margin-top: 21px;
    margin-left: 65px;

}
.left {
    float: left;
}
.right {
    float: left;
    height: 145px;
    width: 300px;
    margin-left: 10px;
    line-height: 145px;
    position: relative;
}
.sign {
    height: 91px;
    position: absolute;
    left: 64px;
    bottom: 35px;
}
.submit{
    float:right;
}

.ueditor{
    margin-top: 30px;

}
body {
    background: url(/static/common/images/bg3.png) no-repeat fixed;
    background-size: 100%;
}

